body{
    /* text-align: center; */
    background-color: #2c3e50;
}

h1{
    text-align: center;
    color: #34495e;
    font-family: Arial, Helvetica, sans-serif;
    transition: color .5s ease-in-out;
    font-size: 700%;
    margin-bottom: 3px;
    margin-top:150px;
}

.clicked{
    color: #7f8c8d;
}

.button{
    cursor: pointer;
}

.form,
.greetings {
    text-align: center;
    display: none;
    /* size */
}


.showing{
    display: block;
    font-size: 50px;
    font-family: inherit;
    margin-top: 15px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 2px gray;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}

.js-toDoList{
    padding-left: 40%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.js-toDoForm{
    text-align: center;
    size: 20px;
    /* margin-top:10px; */
}

.js-weather{
    margin-left:40%;
    margin-bottom: 5%;
    /* bottom:10px; */
   color: CadetBlue;
}